#Productinformationdiv{
    width: 50%;
    height: 80%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}
.campanylabel{
    font-size: 14px;
    color: rgb(104, 102, 102);
}
#p2{
    width: 80%;
    margin: 0;
}
#bolder{
    font-size: 25px;
    font-weight: bolder;
    width: 50%;
    color: hsl(220, 13%, 13%);
    margin: 0;
}#label125{
    font-weight: bold;
    font-size: 18px;
    color: hsl(220, 13%, 13%);
}
#btn50{
    color: white;
    background-color: hsl(220, 13%, 13%);
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 12px;
    height: 20px;
}
.div125{
    display: flex;
    gap: 7px;
}
#label250{
    text-decoration: line-through;
    color: gray;
    font-size: 13px;
}#plusminusbtns{
    border: none;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    gap: 20px;
    cursor: pointer;

}
.plusminusimg{
    width: 7px;
    height: 5px;
}
#cartbtn{
    border: none;
    border-radius: 5px;
    width: 160px;
    height: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: hsl(26, 100%, 55%);
    font-size: 11px;
    cursor: pointer;
    color: hsl(220, 13%, 13%);
    font-weight: bold;

}
#cartbtn:hover {
background-color: hsl(26, 97%, 64%);
}
.caart{
    height: 11px;
    
}